PORT=5000
MONGODB_URI=mongodb+srv://santhuabhivikky_db_user:santhuabhi123@cluster0.hdvw4wq.mongodb.net/urbaniq_waste?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=replace_with_a_secure_secret
CLIENT_URL=https://urban-iq-waste.vercel.app,http://localhost:5173,http://localhost:5000
